{% extends 'base.html.twig' %}

{% block body %}
<div class="container login-page">
	<style>
		body {
			min-height: 100vh;
		}
		.login-page{
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
		}
		.login{
			width: 300px;
			margin: 0 auto;
		}
		.login .form-control {
			margin-bottom: 20px;
		}
	</style>
   	<div class="dashhead login">   
    	{% if error %}
    	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    	{% endif %}

    	<form action="{{ path('login') }}" method="post">
    	    <label for="username">Username:</label>
    	    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

    	    <label for="password">Password:</label>
    	    <input class="form-control" type="password" id="password" name="_password" />

    	    {#
    	        If you want to control the URL the user
    	        is redirected to on success (more details below)
    	        <input type="hidden" name="_target_path" value="/account" />
    	    #}

    	    <button class="form-control" type="submit">login</button>
    	</form> 	
  	</div>
</div>

{% endblock %}